[Unit]
Description=Save Arch specific settings
DefaultDependencies=no
Before=shutdown.target

[Service]
ExecStart=/lib/systemd/arch-persistent-settings
Type=oneshot

[Install]
WantedBy=shutdown.target
