#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=Set up non-root encrypted partition mappings
DefaultDependencies=no
After=lvm-load.service
Before=sysinit.target
ConditionPathExists=/sbin/cryptsetup
ConditionPathExists=/usr/sbin/cryptsetup
ConditionPathExists=/sbin/cryptsetup.static

[Service]
ExecStart=/lib/systemd/crypttab
Type=oneshot
