[Unit]
Description=LVM activation
DefaultDependencies=no
Requires=udev-settle.service
After=udev-settle.service mdadm.service
Before=basic.target shutdown.target
Conflicts=shutdown.target

[Service]
ExecStart=/sbin/vgchange --sysinit -a y
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=basic.target
