[Unit]
Description=LVM activation
DefaultDependencies=no
After=udev-settle.service mdadm.service
Before=basic.target shutdown.target
Conflicts=shutdown.target
ConditionPathExists=/sbin/vgchange

[Service]
ExecStart=/sbin/vgchange --sysinit -a y
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=basic.target
