#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=Load modules
DefaultDependencies=no
Conflicts=shutdown.target
Before=sysinit.target shutdown.target
After=systemd-readahead-collect.service systemd-readahead-replay.service

[Service]
ExecStart=/lib/systemd/modules-load
ExecStop=/sbin/modprobe -r psmouse
RemainAfterExit=yes
Type=oneshot
