[Unit]
Description=Set the NIS Domain Name
DefaultDependencies=no
Before=basic.target shutdown.target
Conflicts=shutdown.target

[Service]
ExecStart=/bin/domainname $NISDOMAINNAME
ExecStop=/bin/domainname \"\"
EnvironmentFile=/etc/conf.d/nisdomainname
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=basic.target
