#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=Set Timezone
DefaultDependencies=no
Before=sysinit.target
After=remount-rootfs.service
Requires=remount-rootfs.service

[Service]
EnvironmentFile=/etc/rc.conf
ExecStart=/bin/cp --remove-destination /usr/share/zoneinfo/${TIMEZONE} /etc/localtime
ExecStop=/bin/cp --remove-destination /usr/share/zoneinfo/${TIMEZONE} /etc/localtime
Type=oneshot
RemainAfterExit=yes
